<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.month.cal.display</string>
	<key>connections</key>
	<dict>
		<key>3AB484B9-B2D3-4AC1-B386-08A639B9EB66</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE0E1F0B-364F-4A39-93E8-B14DE39E0D70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B82969D9-4576-4947-B43E-E99C289F3951</key>
		<array/>
		<key>DE0E1F0B-364F-4A39-93E8-B14DE39E0D70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B82969D9-4576-4947-B43E-E99C289F3951</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mohamed Atia</string>
	<key>description</key>
	<string>Displays calendar for current month on screen using large type</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Display Month Calendar</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cal</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Display Calendar</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3AB484B9-B2D3-4AC1-B386-08A639B9EB66</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cal -H No</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DE0E1F0B-364F-4A39-93E8-B14DE39E0D70</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string>#1A1A1ADA</string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string>Monaco</string>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>B82969D9-4576-4947-B43E-E99C289F3951</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Mac OS is a great operating system, where I enjoy using every day, but there is no quick way to see calendar 📅 for the current month. 

This is a very lightweight straightforward workflow that just displays the calendar using Large Type of Alfred4.</string>
	<key>uidata</key>
	<dict>
		<key>3AB484B9-B2D3-4AC1-B386-08A639B9EB66</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>B82969D9-4576-4947-B43E-E99C289F3951</key>
		<dict>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>DE0E1F0B-364F-4A39-93E8-B14DE39E0D70</key>
		<dict>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
