<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfred2.workflow.hidedesktop</string>
	<key>connections</key>
	<dict>
		<key>12C26F27-E3DC-4AE1-834F-1BA2E1F82053</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EDC07623-09E5-46D7-B976-7075B4045E97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1A326955-A735-4A3E-B8BA-94A9263BD3B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A32502BB-FBF9-4404-9247-0D227EF1EACF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>944870C9-0A46-479C-BF99-6CA736E6B6DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>28AC5142-0AA8-4F9B-87FA-864EE00D013D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B21FEFE0-CA19-4063-AF2F-0B13A9C2B546</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>59D9FF7F-AD9A-4F51-AA89-4E9E51577B7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2545BB6D-88E8-48B7-AC89-7145DD467078</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14AAD2B3-C4A6-4F92-BE26-5D47B4E02507</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>28AC5142-0AA8-4F9B-87FA-864EE00D013D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A73667B4-335E-4ADC-AE25-508376E548F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2E5E6EC3-A83E-49BD-97DF-4BA2EFF93C71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12C26F27-E3DC-4AE1-834F-1BA2E1F82053</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>38EBBB18-4CA1-4FA7-936A-D7027C904839</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2545BB6D-88E8-48B7-AC89-7145DD467078</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DBD3EF28-3FBD-4A04-8353-9F6BB9091468</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A32502BB-FBF9-4404-9247-0D227EF1EACF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>38EBBB18-4CA1-4FA7-936A-D7027C904839</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A6AC91C-4769-4F01-9BAA-0C4099FDA632</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59D9FF7F-AD9A-4F51-AA89-4E9E51577B7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>441CBB90-1429-4229-A21A-C0F19C22F4C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A6AC91C-4769-4F01-9BAA-0C4099FDA632</key>
		<array/>
		<key>944870C9-0A46-479C-BF99-6CA736E6B6DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9843C598-814F-413D-B249-CE45A1B02D33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A32502BB-FBF9-4404-9247-0D227EF1EACF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E09649AF-34A9-49C9-8056-7A8375D76F5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B21FEFE0-CA19-4063-AF2F-0B13A9C2B546</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>127E68F8-1DF0-42D7-B2AD-6DA9F9B69EC4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DBD3EF28-3FBD-4A04-8353-9F6BB9091468</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F69873EF-0D98-42A2-ADC8-BBB1AC1EB580</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Acidham</string>
	<key>description</key>
	<string>Hide/Unhide Desktop</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hide Desktop</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>launchctl unload -w /System/Library/LaunchAgents/com.apple.notificationcenterui.plist</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EDC07623-09E5-46D7-B976-7075B4045E97</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:HandleNotifications}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>yes</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>12C26F27-E3DC-4AE1-834F-1BA2E1F82053</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run	if checkApp("info.marcel-dierkes.KeepingYouAwake") then		tell application "Finder" to open location "keepingyouawake:///activate?hours=1"	end ifend runon checkApp(theBundleId)	try		tell application "Finder" to get application file id theBundleId		return true	on error		return false	end tryend checkApp</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5A6AC91C-4769-4F01-9BAA-0C4099FDA632</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:UseKYA}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>yes</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>38EBBB18-4CA1-4FA7-936A-D7027C904839</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run
	set duration to do shell script "echo $keepawake_for"
	set duration to duration * 3600	if checkApp("com.lightheadsw.caffeine") then		tell application "Caffeine"
			turn on for duration
		end tell	end ifend runon checkApp(theBundleId)	try		tell application "Finder" to get application file id theBundleId		return true	on error		return false	end tryend checkApp</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>14AAD2B3-C4A6-4F92-BE26-5D47B4E02507</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dhide</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Hide Desktop</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2E5E6EC3-A83E-49BD-97DF-4BA2EFF93C71</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:UseCaffeine}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>yes</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>2545BB6D-88E8-48B7-AC89-7145DD467078</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Desktop hidden</string>
				<key>title</key>
				<string>Deskop hidden</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F69873EF-0D98-42A2-ADC8-BBB1AC1EB580</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>defaults write com.apple.finder CreateDesktop -bool false
killall Finder</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DBD3EF28-3FBD-4A04-8353-9F6BB9091468</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events"
keystroke "d" using {command down,option down}
end tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E09649AF-34A9-49C9-8056-7A8375D76F5C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:HideDock}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>yes</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>A32502BB-FBF9-4404-9247-0D227EF1EACF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dunhide</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Unhide Desktop</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1A326955-A735-4A3E-B8BA-94A9263BD3B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Desktop is visible</string>
				<key>title</key>
				<string>Deskop unhidden</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9843C598-814F-413D-B249-CE45A1B02D33</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>defaults write com.apple.finder CreateDesktop -bool true
killall Finder</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>944870C9-0A46-479C-BF99-6CA736E6B6DB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run	if checkApp("info.marcel-dierkes.KeepingYouAwake") then		tell application "KeepingYouAwake" to quit	end ifend runon checkApp(theBundleId)	try		tell application "Finder" to get application file id theBundleId		return true	on error		return false	end tryend checkApp</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A73667B4-335E-4ADC-AE25-508376E548F9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:UseKYA}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>yes</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>28AC5142-0AA8-4F9B-87FA-864EE00D013D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run	if checkApp("com.lightheadsw.caffeine") then		tell application "Caffeine" to quit	end ifend runon checkApp(theBundleId)	try		tell application "Finder" to get application file id theBundleId		return true	on error		return false	end tryend checkApp</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>127E68F8-1DF0-42D7-B2AD-6DA9F9B69EC4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:UseCaffeine}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>yes</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>B21FEFE0-CA19-4063-AF2F-0B13A9C2B546</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>launchctl load -w /System/Library/LaunchAgents/com.apple.notificationcenterui.plist</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>441CBB90-1429-4229-A21A-C0F19C22F4C0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:HandleNotifications}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>yes</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>59D9FF7F-AD9A-4F51-AA89-4E9E51577B7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>- HideDock [yes/no]: When hiding Desktop also hide the Dock

- UseKYA [yes/no]: Use KYA

- UseCaffeine [yes/no]: Use Caffeine 

- HandleNotifications [yes/no]: Enable/Disable Notifiations

- keepawake_for [hours]: Set default on how long KYA or Caffeine keeps your computer awake</string>
	<key>uidata</key>
	<dict>
		<key>127E68F8-1DF0-42D7-B2AD-6DA9F9B69EC4</key>
		<dict>
			<key>note</key>
			<string>when Caffeine is installed, quit Caffeine</string>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>1240</integer>
		</dict>
		<key>12C26F27-E3DC-4AE1-834F-1BA2E1F82053</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>14AAD2B3-C4A6-4F92-BE26-5D47B4E02507</key>
		<dict>
			<key>note</key>
			<string>when Caffeine is installed activate for time set in WF environment variabls</string>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>1A326955-A735-4A3E-B8BA-94A9263BD3B4</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>860</integer>
		</dict>
		<key>2545BB6D-88E8-48B7-AC89-7145DD467078</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>28AC5142-0AA8-4F9B-87FA-864EE00D013D</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>1120</integer>
		</dict>
		<key>2E5E6EC3-A83E-49BD-97DF-4BA2EFF93C71</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>38EBBB18-4CA1-4FA7-936A-D7027C904839</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>441CBB90-1429-4229-A21A-C0F19C22F4C0</key>
		<dict>
			<key>note</key>
			<string>Enables Notifications</string>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>1390</integer>
		</dict>
		<key>59D9FF7F-AD9A-4F51-AA89-4E9E51577B7A</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>1420</integer>
		</dict>
		<key>5A6AC91C-4769-4F01-9BAA-0C4099FDA632</key>
		<dict>
			<key>note</key>
			<string>when KYA is installed activate KeepYouAwake for one hour</string>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>944870C9-0A46-479C-BF99-6CA736E6B6DB</key>
		<dict>
			<key>note</key>
			<string>show desktop</string>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>960</integer>
		</dict>
		<key>9843C598-814F-413D-B249-CE45A1B02D33</key>
		<dict>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>920</integer>
		</dict>
		<key>A32502BB-FBF9-4404-9247-0D227EF1EACF</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>800</integer>
		</dict>
		<key>A73667B4-335E-4ADC-AE25-508376E548F9</key>
		<dict>
			<key>note</key>
			<string>when KYA is installed, quit KeepYouAwake</string>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>1090</integer>
		</dict>
		<key>B21FEFE0-CA19-4063-AF2F-0B13A9C2B546</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>1270</integer>
		</dict>
		<key>DBD3EF28-3FBD-4A04-8353-9F6BB9091468</key>
		<dict>
			<key>note</key>
			<string>hide desktop</string>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>E09649AF-34A9-49C9-8056-7A8375D76F5C</key>
		<dict>
			<key>note</key>
			<string>hide/show Dock</string>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>780</integer>
		</dict>
		<key>EDC07623-09E5-46D7-B976-7075B4045E97</key>
		<dict>
			<key>note</key>
			<string>Disables Notifications</string>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>F69873EF-0D98-42A2-ADC8-BBB1AC1EB580</key>
		<dict>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>HandleNotifications</key>
		<string>yes</string>
		<key>HideDock</key>
		<string>no</string>
		<key>UseCaffeine</key>
		<string>yes</string>
		<key>UseKYA</key>
		<string>no</string>
		<key>keepawake_for</key>
		<string>1</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.2</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
