<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>make color</string>
	<key>connections</key>
	<dict>
		<key>2BC9A6D9-E3F3-4E84-882D-D4BE8B42237D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51F93327-DB48-46ED-8476-A84A6FF89D17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51F93327-DB48-46ED-8476-A84A6FF89D17</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>vlaskos</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>resetblt</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>resetblt</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>resetblt</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2BC9A6D9-E3F3-4E84-882D-D4BE8B42237D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>echo please | sudo -S kextunload -b com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport
echo please | sudo -S kextload -b com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>51F93327-DB48-46ED-8476-A84A6FF89D17</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2BC9A6D9-E3F3-4E84-882D-D4BE8B42237D</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>51F93327-DB48-46ED-8476-A84A6FF89D17</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
